---
import HeaderLink from './HeaderLink.astro';
import LanguageBasedContent from "./LanguageBasedContent.svelte";
import { NAME_HOME, NAME_PUBLICATIONS, NAME_PROJECTS, NAME_TALKS, NAME_ABOUT } from '../config/control';
---


<HeaderLink href="/">
    <div>{NAME_HOME}</div>
</HeaderLink>
<HeaderLink href="/publication">
    <div>{NAME_PUBLICATIONS}</div>
</HeaderLink>
<HeaderLink href="/project">
    <div>{NAME_PROJECTS}</div>
</HeaderLink>
<HeaderLink href="/talk">
    <div>{NAME_TALKS}</div>
</HeaderLink>
<HeaderLink href="/about">
    <div>{NAME_ABOUT}</div>
</HeaderLink>

<style>
	a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>